@import "tailwindcss";

:root {

}

@theme inline {
}

@theme {
    --breakpoint-xs: 30rem;
    --breakpoint-2xl: 100rem;
    --breakpoint-3xl: 120rem;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {

}
